---
import '/mimic.css';
---

    <div class="font-size:xs">XS Font Size Test</div>
    <div class="font-size:sm">SM Font Size Test</div>
    <div class="font-size:md">MD Font size Test</div>
    <div class="font-size:lg">LG Font Size Test</div>
    <div class="font-size:xl">XL Font Size Test</div>
    <div class="font-size:2xl">2XL Font Size Test</div>


