---
import '/mimic.css';
---

<div
      class="padding:xs border-color:black border-width:sm border-style:solid"
    >
      XS Padding Test
    </div>
    <div
      class="padding:sm border-color:black border-width:sm border-style:solid"
    >
      SM Padding Test
    </div>
    <div
      class="padding:md border-color:black border-width:sm border-style:solid"
    >
      MD Padding Test
    </div>
    <div
      class="padding:lg border-color:black border-width:sm border-style:solid"
    >
      LG Padding Test
    </div>
    <div
      class="padding:xl border-color:black border-width:sm border-style:solid"
    >
      XL Padding Test
    </div>
    <div
      class="padding:2xl border-color:black border-width:sm border-style:solid"
    >
      2XL Padding Test
    </div>


